body, h1, h2, h3, p, a, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #19107f;
    background-color: #f4f4f4;
}

header {
    background: #19107f;
    color: #fff;
    padding: 1rem 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

header input[type="text"] {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
}

nav {
    display: flex; /* Flexbox for nav links */
}

nav a {
    color: #fff;
    margin: 0 0.5rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    display: flex; /* Flexbox for centering the form */
    justify-content: center; /* Center the create event section */
}

.create-event-form {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
    width: 100%; /* Allow the form to take full width of its container */
    max-width: 600px; /* Set a max width to control size */
}

h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin: 15px 0 5px;
}

input[type="text"],
input[type="date"],
input[type="time"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #19107f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}

h1 a {
    color: white;
    text-decoration: none;
}

h1 a:hover {
    color: blue;
}


