{% extends "layouts/admin.html" %}
{% block title %}Add Category{% endblock %}

{% block content %}
<h1 class="text-2xl font-semibold mb-4">Add Category</h1>

<form method="POST" action="{{ url_for('admin_routes.add_category') }}" enctype="multipart/form-data">
    <div class="mb-4">
        <label for="name" class="block text-gray-700">Category Name</label>
        <input type="text" id="name" name="name" placeholder="Category Name" class="border p-2 w-full" required />
    </div>

    <div class="mb-4">
        <label for="category_image" class="block text-gray-700">Category Image</label>
        <input type="file" id="category_image" name="category_image" class="border p-2 w-full" />
    </div>

    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Add Category</button>
</form>
{% endblock %}
