{% extends "layouts/base.html" %}

{% block content %}
    <main>
        <section class="event-details">
            <h2>Event 3</h2>
            <p>Date: September 15, 2024</p>
            <p>Time: 6:00 PM</p>
            <p>Location: Central Park, NYC</p>
            <img src="https://i.imgur.com/bh1CStD.png" alt="Event 3">
            <p>Detailed description of the event goes here. Information about speakers, activities, and other important details should be included.</p>
            <button onclick="window.location.href='tickets.html'">Buy Tickets</button>
            <div class="social-share">
                <button>Share on Facebook</button>
                <button>Share on Twitter</button>
            </div>
        </section>
    </main>

</body>
</html>
{% endblock %}