{% include "header.html" %}
<main class="main-container">
    <h2 class="title">Festivals</h2>

    <p class="description">
        Festivals in Azerbaijan are vibrant celebrations that showcase the country’s rich culture, 
        traditions, and history. From the lively sounds of folk music to the tantalizing aromas of traditional cuisine, 
        these events create a unique atmosphere that draws both locals and visitors alike. 
        Prominent festivals such as Novruz Bayram, which marks the arrival of spring, and Goygol’s Wine
        Festival, celebrating the region’s winemaking heritage, offer immersive experiences filled with
        colorful performances, art exhibitions, and culinary delights. Each festival is an opportunity to
        connect with the community, explore Azerbaijani heritage, and enjoy the warmth of 
        its hospitality, making them unforgettable experiences for all who attend.
    </p>
</main>
{% include "footer.html" %}
