<!-- Footer -->
<footer class="text-center text-lg-start text-white" style="background-color:#19107f"> 
    <!-- Section: Social media -->
 
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: none">
        © {{ current_year }} Copyright:
        <a class="text-white" href="/">AzerbaijanFest</a>
    </div> 
<!--Hey! This is the original version
of Simple CSS Waves-->

    <section class="d-flex justify-content-between p-4" style="background-color: #19107f">
        <!-- Left -->
        <div class="me-5">
            <span>Get connected with us on social networks:</span>
        </div>
        <!-- Right -->
        <div>
            <a href="#" class="text-white me-4"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="text-white me-4"><i class="fab fa-twitter"></i></a>
            <a href="#" class="text-white me-4"><i class="fab fa-google"></i></a>
            <a href="#" class="text-white me-4"><i class="fab fa-instagram"></i></a>
            <a href="#" class="text-white me-4"><i class="fab fa-linkedin"></i></a>
        </div>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <!-- Column 1 -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold">AzerbaijanFest</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #19107f; height: 2px">
                    <p>Here at AzerbaijanFest, we share events that celebrate the vibrant culture and festivities of Azerbaijan. Join us to discover exciting happenings near you!</p>
                </div>                    

                <!-- Column 2 -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold">Our Events</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #19107f; height: 2px">
                    <p><a href="/festivals" class="text-white">Festivals</a></p>
                    <p><a href="/concerts" class="text-white">Concerts</a></p>
                    <p><a href="/cultural" class="text-white">Cultural Activities</a></p>
                    <p><a href="/workshops" class="text-white">Workshops</a></p>
                </div>                    

                <!-- Column 3 -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold">Company</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #19107f; height: 2px">
                    <p><a href="/story" class="text-white">Our Story</a></p>
                    <p><a href="/contact-us" class="text-white">Contact Us</a></p>
                    <p><a href="/about-us" class="text-white">About Us</a></p>
                    <p><a href="/faqs" class="text-white">FAQs</a></p>
                </div>                    

                <!-- Column 4 -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold">Contact</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #19107f; height: 2px">
                    <p><i class="fas fa-home mr-3"></i> Baku, Azerbaijan AZ1000</p>
                    <p><i class="fas fa-envelope mr-3"></i> info@azerbaijanfest.com</p>
                    <p>
                        <i class="fas fa-phone mr-3"></i>
                        <a href="tel:+994508812355" class="phone-link">+994 50 881 23 54</a>
                    </p>
                    <p>
                        <i class="fas fa-print mr-3"></i>
                        <a href="tel:+994506870323" class="phone-link">+994 50 687 03 23</a>
                    </p>
                </div>                                                 
            </div>
        </div>
    </section>
    
    <!--Waves Container-->
    <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
    </g>
    </svg>
    </div>
    <!--Waves end-->
    
    </div>
    <!--Header ends-->
    
    <!--Content starts-->
    <div class="content flex">
      <p>By.Goodkatz | Free to use </p>
    </div>
    <!--Content ends-->
    <!-- Copyright -->
</footer>
