{% extends "layouts/base.html" %}

{% block content %}
<body>	
	<div class="section-center">
		<div class="section-up">
			<div class="sun">
				<span></span>
			</div>
			<div class="cloud-left">
				<span></span>
				<span></span>
				<span></span>
			</div>
            <section class="hero">
                <div class="hero-content">
                    <h2>Welcome to the Event App</h2>
                    <a href="{{ url_for('main_routes.events') }}">
                        <button>See Events</button>
                    </a>
                    <a href="{{ url_for('main_routes.create_event') }}">
                        <button>Create Event</button>
                    </a>
                </div>
            </section>
            
			<div class="cloud-middle">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="cloud-right">
				<span></span>
				<span></span>
				<span></span>
			</div>

			<div class="bird-wrapper">
				<div class="left-wing">
					<span></span>
				</div>
				<div class="right-wing">
					<span></span>
				</div>
			</div>
			<div class="bird-wrapper snd">
				<div class="left-wing">
					<span></span>
				</div>
				<div class="right-wing">
					<span></span>
				</div>
			</div>
			<div class="bird-wrapper trd">
				<div class="left-wing">
					<span></span>
				</div>
				<div class="right-wing">
					<span></span>
				</div>
			</div>
			<div class="building-left">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="building-right">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span><span></span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="left-tree">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="right-tree">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="hill">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="hill snd">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="hill trd">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="hill frt">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<div class="section-down">
			<div class="ship-wrapper">
				<div class="ship">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
            
			<div class="water-big-wrapper">
				<div class="water-big-wrap">
					<div class="water-big">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
                    
					<div class="water-big snd">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="water-big trd">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
			<div class="water-lines-wrapper">
				<div class="water-lines">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
			<div class="water-lines-wrapper right">
				<div class="water-lines">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
			<div class="fish-wrapper">
				<div class="fish-wrap">
					<div class="fish">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
			<div class="fish-wrapper right">
				<div class="fish-wrap">
					<div class="fish">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
			<div class="water-wrapper top">
				<div class="water-wrap">
					<div class="water">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="water snd">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="water trd">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
			
			<div class="water-wrapper">
				<div class="water-wrap">
					<div class="water">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="water snd">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					
					<div class="water trd">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
			
			<div class="water-wrapper top right">
				<div class="water-wrap">
					<div class="water">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="water snd">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="water trd">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
			<div class="water-wrapper right">
				<div class="water-wrap">
					<div class="water">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					
					<div class="water snd">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="water trd">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	
  
  <!-- Link to profile
	================================================== -->

  <a href="https://codepen.io/ig_design/" class="link-to-portfolio cursor-link" target=”_blank”></a>

</body>

<!-- Categories Section -->

<!-- Filter Section -->

<!-- Featured Events Section -->
<section class="featured-events">
    <h2>Featured Events</h2>

	<div class="mb-5">
		<div class="row align-items-center">
			<div class="col-sm mb-3 mb-sm-0">
				<h1 class="h2 mb-0"></h1>
			</div>
			<div class="parent-container">
				<div class="col-sm-auto">
					<select class="form-select form-select-sm">
						<option value="mostRecent" selected>Most recent</option>
						<option value="highestPrice">Old posts</option>
						<option value="lowestPrice">New posts</option>
						<option value="mostReduced">Popular post</option>
						<option value="mostPopular">Recently added posts</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	
    <!-- Event 1 -->
	<div class="event-card" data-date="2024-10-10">
		<div class="event-image">
			<img src="{{ url_for('static', filename='photos/eventimage.jpg') }}" alt="Event 2">
			<div class="event-interactions">
				<button class="attend-button" onclick="attendEvent(event)">Yes, I will attend</button>
				<button class="like-button" onclick="likeEvent(event)">
					<span class="material-symbols-outlined">favorite</span> <span class="like-count">75</span>
				</button>
				<button class="save-button" onclick="saveEvent(event)">
					<span class="material-symbols-outlined">bookmark</span>
				</button>
			</div>
		</div>
		<div class="event-details">
			<h3>Event 2</h3>
			<p>Date & Time: October 10, 2024, 7:00 PM</p>
			<p class="event-description">This is the event description. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout...</p>
			<p class="description attendance-status"></p> <!-- Added for attendance status -->
			<p>Attendance: 200 people</p>
		</div>
	</div>
    <!-- Event 2 -->
	<div class="event-card" data-date="2024-10-10">
		<div class="event-image">
			<img src="{{ url_for('static', filename='photos/eventimage.jpg') }}" alt="Event 2">
			<div class="event-interactions">
				<button class="attend-button" onclick="attendEvent(event)">Yes, I will attend</button>
				<button class="like-button" onclick="likeEvent(event)">
					<span class="material-symbols-outlined">favorite</span> <span class="like-count">75</span>
				</button>
				<button class="save-button" onclick="saveEvent(event)">
					<span class="material-symbols-outlined">bookmark</span>
				</button>
			</div>
		</div>
		<div class="event-details">
			<h3>Event 2</h3>
			<p>Date & Time: October 10, 2024, 7:00 PM</p>
			<p class="event-description">This is the event description. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout...</p>
			<p class="description attendance-status"></p> <!-- Added for attendance status -->
			<p>Attendance: 200 people</p>
		</div>
	</div>
	
	
</section>

<section>
    <div class="become-subscriber">
        <div class="subscriber-header">
           <h2>Stay Updated on Events</h2>
        </div>

        <div class="subscriber-paragraph">
           <p>
              Signup to get <strong>EXCLUSIVE</strong> updates on upcoming events, workshops, and special offers!
           </p>
        </div>

        <div class="subsriber-input">
			<form method="POST" action="{{ url_for('main_routes.subscribe') }}">
				<span><i class="fa-solid fa-envelope"></i></span>
				<input type="email" name="email" placeholder="Enter your email" required>
				<button type="submit" name="submit"><i class="fa-brands fa-telegram"></i></button>
			 </form>
        </div>
     </div>
</section>
{% endblock %}
