{% include "header.html" %}
<main class="main-container">
    <h2 class="title">Workshops</h2>

    <p class="description">
        Workshops in Azerbaijan offer a unique opportunity to dive deep into the country’s 
        rich cultural heritage and artistic traditions. These hands-on experiences allow participants 
        to engage directly with local artisans and experts, learning skills such as traditional carpet
        weaving, pottery making, and Azerbaijani cooking. Workshops cater to all ages and skill levels, 
        promoting creativity and cultural exchange while fostering a sense of community. Participants 
        can discover the intricate techniques behind local crafts and immerse themselves in the storytelling 
        that accompanies each art form. Whether you're crafting a beautiful piece of art or preparing a 
        delicious dish, these workshops provide not just skills but also meaningful 
        connections to Azerbaijani culture, making them a memorable part of any visit.
    </p>
</main>
{% include "footer.html" %}
