{% extends "layouts/footer-links.html" %}

{% block title %}AzerbaijanFest - Cultural Activities{% endblock %}

{% block content %}
<h2 class="title">Cultural Activities</h2>

<p class="description">
    Cultural activities in Azerbaijan are a vibrant tapestry of traditions, 
    art forms, and community engagement that reflect the country’s rich heritage. 
    From traditional dance performances and folk music festivals to art exhibitions 
    and workshops, there’s always something happening that celebrates Azerbaijani culture. 
    Visitors can explore the intricate craftsmanship of carpet weaving, experience the
    soulful rhythms of mugham music, or participate in local cooking classes to learn 
    about traditional Azerbaijani cuisine. Cultural centers and museums across the nation 
    provide opportunities to engage with history through interactive exhibits and guided tours. 
    These activities not only promote the preservation of cultural heritage but also foster a 
    deeper understanding and appreciation of the diverse influences that shape Azerbaijan’s 
    identity. Whether you're a local or a traveler, immersing yourself in these cultural 
    activities offers a unique glimpse into the soul of Azerbaijan.
</p>
{% endblock %}
